<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Please allow to continue with Face ID.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access to take your photo.</string>
	<key>UIAppFonts</key>
	<array>
		<string>PlusJakartaSans-VariableFont.ttf</string>
		<string>GrandisExtended-Black.ttf</string>
		<string>GrandisExtended-BlackItalic.ttf</string>
		<string>GrandisExtended-Bold.ttf</string>
		<string>GrandisExtended-BoldItalic.ttf</string>
		<string>GrandisExtended-Light.ttf</string>
		<string>GrandisExtended-LightItalic.ttf</string>
		<string>GrandisExtended-Medium.ttf</string>
		<string>GrandisExtended-MediumItalic.ttf</string>
		<string>GrandisExtended-Regular.ttf</string>
		<string>GrandisExtended-RegularItalic.ttf</string>
		<string>GrandisExtended-Thin.ttf</string>
		<string>GrandisExtended-ThinItalic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
